In [1]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv('gpt_test.csv').iloc[:100,1:]
for col in df.columns[1:]:
    df[col] = df[col].str.lower()
df

,Texts,vader,gpt,human,processing
0,The Purdy-Kittle connection is something special.,positive,positive,positive,1.0
1,Super bad play... That could have broken his neck,negative,negative,negative,1.0
2,SCARY TERRY HALLLOWEEN SPECIAL BITCHES,negative,positive,positive,1.0
3,This would be a great game in like any other s...,positive,negative,neutral,1.0
4,CRIPPLE FIIIIIIIGHT,neutral,negative,negative,1.0
...,...,...,...,...,...
95,Let the flag fest\n\n**BEGIIIIIIIIN**,neutral,negative,negative,1.0
96,Anyone up for just calling it? A tie would be ...,negative,negative,negative,1.0
97,Why can't Aaron Fucking Rodgers have a bad kne...,negative,negative,negative,1.0
98,any raiders fans want to fight in the internet...,negative,negative,neutral,1.0
99,Announcer: DEFINITELY NOT TOUCHED. \n\nCome ba...,positive,negative,negative,1.0

In [30]:
vader_df = pd.pivot_table(df,index='vader',columns='human',values='Texts',aggfunc='count',fill_value=0)
vader_df

human     negative  neutral  positive
vader
negative        33        2         4
neutral         10        6         3
positive        23        8        11

In [26]:
pd.pivot_table(df,index='gpt',columns='human',values='Texts',aggfunc='count',fill_value=0)

human     negative  neutral  positive
gpt
negative        57        4         1
neutral          6       10         2
positive         3        2        15